body {
  margin: 0;
  background: url('images/gym3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  index-z: -1;
}


#Gym, #Elsa, #Cloud, #Larry, #LoadedLux {
  color: white;
  font-family: sans-serif;
}

.words {
  background-color: black;
  opacity: 0.7;
  width: 60%;
  margin-left: 20%;
}

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
}

h1{
  font-style: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: white;
  text-decoration: underline;
}

h4 {
  text-align: center;
}

.card-img-top {
  height: 328px;
  width: 350px;
}

.card-body {
  background-color: darkred;
}


ul {
  text-transform: capitalize;
}

.tablist {
  overflow: hidden;
  border: 1px solid white;
  background-color: #f1f1f1;
}

.tablist button {
  border: none;
  margin: 0 auto;
  width: 144px;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tablist button:hover {
  background-color: rgb(244, 0, 0);
}

.tablist button.active {
  background-color: rgb(136, 18, 18);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
