body {
  margin: 0;
  background: url('images/gym3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  index-z: -1;
}

#Gym, #Elsa, #Cloud, #Larry, #LoadedLux {
  color: white;
  font-family: sans-serif;
}

.words {
  background-color: black;
  opacity: 0.7;
  width: 60%;
  margin-left: 20%;
}

.words1 {
  background-color: black;
  opacity: 0.7;
  width: 70%;
  margin-left: 15%;
}

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
}

h1{
  font-style: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: white;
  text-decoration: underline;
}

h4 {
  text-align: center;
}

.card-img-top {
  height: 328px;
  width: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  background-color: darkred;
}


ul {
  text-transform: capitalize;
}

.tablist {
  overflow: hidden;
  border: 1px solid white;
  background-color: #f1f1f1;
}

.tablist button {
  border: none;
  margin: 0 auto;
  width: 144px;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tablist button:hover {
  background-color: rgb(244, 0, 0);
}

.tablist button.active {
  background-color: rgb(136, 18, 18);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeIn 1s;
}

.pic-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-color: darkred;
  padding: 10px;
  grid-column-gap: 50px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 270px;
  width: 270px;
  background-size: cover;
}

.item-1 {
  background-image: url("https://i.ytimg.com/vi/5vGEz7RMfEU/maxresdefault.jpg");
  background-position: center;
}

.item-2 {
  background-image: url("https://archive-media-1.nyafuu.org/vp/image/1407/64/1407642465792.png");
}

.item-3 {
  background-image: url("https://vignette.wikia.nocookie.net/spongebob/images/9/9c/Goo_Lagoon_in_Hocus_Pocus.png/revision/latest?cb=20150613221129");
}

.item-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg");
}

.geng {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=fb14a54b019e3032&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F1%2F1a%2FAmie_Poison_Wallpaper.png");
}

.meta {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=9966a29c2e0701ca&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F3%2F35%2FAmie_Rock_Wallpaper.png");
}
.stee {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=a36daf060a484b9d&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F3%2F36%2FAmie_Steel_Wallpaper.png");
}
.sui {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=060e436756d86a8a&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F9%2F98%2FAmie_Water_Wallpaper.png");
}
.meh {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=37eeb8e891a3d1d6&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F2%2F23%2FAmie_Fairy_Wallpaper.png");
}
.arc {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=f1f500120f18d50c&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F9%2F93%2FAmie_Dark_Wallpaper.png");
}
.dra {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=4dc98cbc5f5ea34a&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Fe%2Fed%2FAmie_Dragon_Wallpaper.png");
}
.hyd {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=310cf79635421071&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F6%2F61%2FAmie_Ghost_Wallpaper.png");
}
.hax {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=cb7257fb158ef2e9&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F9%2F95%2FAmie_Bug_Wallpaper.png");
}
.snor {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=7b53dd19981e9dba&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F4%2F48%2FAmie_Normal_Wallpaper.png");
}
.lapr {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=25cc3c52904c3a24&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Fb%2Fb5%2FAmie_Ice_Wallpaper.png");
}
.mach {
  background-image: url("https://pokemondb.net/pokebase/qa-plugin/https-img-proxy/image.php?key=b96f68aa540c8a67&url=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Fa%2Fa4%2FAmie_Fighting_Wallpaper.png");
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
